/* general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Toolbar */
.toolbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar li {
    margin: 0;
}

.toolbar a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

.toolbar a:hover {
    background-color: #575757;
}

.toolbar .right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.toolbar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.toolbar button:hover {
    background-color: #777;
}

/* Main */
main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

/* Songs */
#song-list ul {
    list-style: none;
    padding: 0;
}

#song-list li {
    background-color: white;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #575757;
}

.pagination span {
    font-size: 16px;
    margin: 0 10px;
}
