<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<h1>Add New Song</h1>
<form action="/songs/add" method="post">
    Track Id: <input type="text" name="trackId" th:value="(${song} != null ? ${song.getTrackId()} : '')" required> <br>
    Title: <input type="text" name="title" th:value="(${song} != null ? ${song.getTitle()} : '')" required> <br>
    New genre: <input type="text" name="genre" th:value="(${song} != null ? ${song.getGenre()} : '')" required> <br>
    New Release Year: <input type="text" name="year" th:value="(${song} != null ? ${song.getReleaseYear()} : '')" required> <br>
    New Album:
    <select name="albumId" required>
        <option th:each="album : ${albums}"  th:value="${album.getId()}" th:text="${album.getName()}"></option>
    </select> <br>
    <input type="submit" name="Save song">
</form>

</body>
</html>