<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <style>
        body {
            width: 800px;
            margin: auto;
        }

        table {
            width: 100%;
        }

        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }

        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }

        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Select the Artist to add to the List of Performers </h1>
</header>
<section>
    <h2>Select artist:</h2>

    <form action="/songDetails" method="post">
        <input type="hidden" name="songId" th:value="${songId}" />
        <ul th:each="artist : ${artists}">
            <li>
                <input type="radio" name="artistId" th:value="${artist.getId()}" th:text="${artist.getFirstName()}">
                <span th:text="${artist.getLastName()}"></span>
            </li>
        </ul>
        <input type='submit' value='Add artist'>
    </form>
    <form action="/artists/search" method="get">
        <input type="hidden" name="songId" th:value="${songId}">
        <input type="text" name="query" placeholder="Search for artists" required>
        <input type="submit" value="Search for artist">
    </form>
</section>
<aside>
    <table>
        <tr>
            <td><b>Track Id</b></td>
            <td th:text="${songId}"></td>
        </tr>
    </table>
</aside>
</body>
</html>