<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs List</title>
</head>
<body>
<h1>Song List</h1>

<ul th:each="song : ${songs}">
    <li>
        <form action="/artists" method="get">
            <input type="hidden" name="songId" th:value="${song.getId()}">
            Title: <span th:text="${song.getTitle()}"></span>
            Genre: <span th:text="${song.getGenre()}"></span>
            Release Year: <span th:text="${song.getReleaseYear()}"></span>
            Album: <span th:text="${song.getAlbum().getName()}"></span>
            <input type="submit" value="Add Artists">
        </form>
        <form th:action="@{/songs/edit-form/{id}(id=${song.getId()})}" method="get">
            <input type="submit" value="Edit Song">
        </form>
        <form th:action="@{/songs/delete/{songId}(songId=${song.getId()})}" method="get">
            <input type="submit" value="Delete Song">
        </form>
    </li>
</ul>

<h2>By Albums</h2>
<ul>
    <li th:each="album : ${albums}">
        <span th:text="${album.getName()}"></span>
        <ul>
            <li th:each="song : ${album.getSongs()}">
                <span th:text="${song.getTitle()}"></span>
            </li>
        </ul>
    </li>
</ul>

<h2>Search by Album and Year</h2>
<form action="/songs/search" method="post">
    Album id: <input type="text" name="albumId" placeholder="Enter album id" required>
    Release Year: <input type="text" name="releaseYear" placeholder="Enter release year" required>
    <input type="submit" value="Search songs">
</form>

<h2>Add new song</h2>
<form th:action="@{/songs/add-form}" method="get">
    <input type="submit" value="Add new Song">
</form>
</body>
</html>