<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Song Details</title>
</head>
<body>
<header>
   <h1 th:text="${song.getTitle()}"></h1>
</header>
<section>
    <h2 th:text="${song.getGenre()}"></h2>
    <h2 th:text="${song.getReleaseYear()}"></h2>
    <h2>Performers:</h2>
    <ul th:each="artist: ${song.getPerformers()}">
        <li>
            <a th:href="@{/artistDetails(artistId=${artist.getId()})}" th:text="${artist.getFullName()}"></a>
        </li>
    </ul>
</section>

</body>
</html>